apiVersion: v1
kind: Service
metadata:
  name: traefik-lb
  namespace: traefik
  labels:
    app: traefik
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/instance: traefik
  ports:
    - name: web
      protocol: TCP
      port: 80
      targetPort: web
    - name: websecure
      protocol: TCP
      port: 443
      targetPort: websecure
    - name: dashboard
      protocol: TCP
      port: 9000
      targetPort: traefik
