apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  repo: https://traefik.github.io/charts
  chart: traefik
  targetNamespace: kube-system
  valuesContent: |-
    service:
      type: LoadBalancer

    ports:
      web:
        port: 80
      websecure:
        port: 443
      traefik:
        port: 9000
        expose:
          default: false

    additionalArguments:
      - "--api.dashboard=true"

    # Create an Ingress for the dashboard (HTTP only)
    ingressRoute:
      dashboard:
        enabled: true
        entryPoints:
          - web
        matchRule: Host(`traefik-ui.local`)
